<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Chat Interface</title>
  <!-- Add Bootstrap CSS link here -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kB/w5f5F5t/n1F4xKj5mm4z5"
    crossorigin="anonymous"
  >
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Main Chat Interface</h2>
          </div>
          <div class="card-body">
            <!-- Chat messages and user list go here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
